* {
    font-family: sans-serif;
    line-height: 1.6;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
}


#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    flex: 0 1 30%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background: #fafafa;
}

.product-item img {
    max-width: 200px;
    max-height: auto;
    margin: 0 auto;
    display: block;
}

.price {
    color: red;
}

form {
    max-width: 400px;
    margin: 20px auto;
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: darkblue;
}

.search-section {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.search-section input {
    width: 300px;
}

.search-section button {
    padding: 5px 15px;
}

.add-product-section {
    text-align: center;
    padding: 20px;
}

.hidden {
    display: none;
}

#addProductForm {
    margin-top: 20px;
}

#addProductForm {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

#addProductForm input {
    margin: 5px;
}

#addProductForm.expanded {
    max-height: 500px; /* This will be set dynamically in JS */
}

.error {
    color: red;
    display: block;
    margin-top: 10px;
}

@media (max-width: 600px) {
    #product-list {
        flex-direction: column;
    }
    .product-item{
        flex: 1 1 100%;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 5px 0;
    }

}